<style>

</style>
<div class="box signin">
	<h1>分享的快樂勝過獨自擁有！</h1>
	<h2>歡迎回來！</h2>
	<%= form_tag signin_path do %>
		<% if @wrong %>
			<span style="color:red;font-size: 2em;">帳號或密碼錯誤！</span>
		<% end %>
		<ul>
			<li>
				<label for="account">帳號：</label><br>
				<input type="text" id="account" name="user[account]">
			</li>
			<li>
				<label for="password">密碼：</label><br>
				<input type="password" id="password" name="user[password]">
			</li>
			<li class="signBtn">
				<label class="button" for="login">登入</label>
				<input type="submit" id="login" name="submit">
				<a class="button" href="/signup">註冊</a>
			</li>
		</ul>
	<% end %>
</div>