<% provide(:title, "免責聲明 - 咬我啊") %>

<style>
	.box{
		text-align: center;
	}
	.boxheader{
		font-size: 3rem;
		margin-bottom: 10px;
	}
	.disclaimer{
		display: inline-block;
		max-width: 700px;
		font-size: 2rem;
		cursor: default;
	}
	.disclaimer section{
		margin-bottom: 20px;
		line-height: 150%;
		text-align: left;
	}
	.disclaimer .givemebite{
		margin: 0 8px;
		font-weight: 900;
		color: #666;
		font-size: 2.2rem;
	}
	.disclaimer .important .givemebite{
		color: #aa2a28;	
	}
	.disclaimer .important{
		color: #bf2022;
	}
	.disclaimer .important a{
		text-decoration: none;
		display: inline-block;
	}
</style>

<div class="box">
	<div class="boxheader">
		免責聲明
	</div>
	<article class="disclaimer">
		<section class="important">
			<strong class="givemebite">咬我啊</strong>givemebite.me 為個人練習用網站，非營利網站。對網站內容會盡力維護。會儘量阻擋網路攻擊並且維護個人資料安全。但對個人資料有安全疑慮者，建議使用虛擬身份進行網站使用。對網站有疑問歡迎到 <a href="/about#feedback" class="btn btn_blue">關於咬我啊</a> 進行回報。<strong class="givemebite">咬我啊</strong>感謝您的支持與回饋。
		</section>
		<section>
			<strong class="givemebite">咬我啊</strong>包含的內容和訊息僅供參考，<strong class="givemebite">咬我啊</strong>有權但無改善或更正本網站任何錯誤或疏失之義務。所有<strong class="givemebite">咬我啊</strong>使用者(以下簡稱使用者)同意以下條款及條件：
		</section>
		<section>
			所有的訊息，包含照片、敘述或說明僅為參考使用，雖然<strong class="givemebite">咬我啊</strong>已盡力確保<strong class="givemebite">咬我啊</strong>中的所有訊息是正確的，但誤植或印刷錯誤仍可能發生。
		</section>
		<section>
			<strong class="givemebite">咬我啊</strong>有權隨時修改、更新或以其他方式更改網站的訊息和內容，如有更改恕不另行通知。
		</section>
		<section>
			<strong class="givemebite">咬我啊</strong>可能包含非經<strong class="givemebite">咬我啊</strong>持有及控制之其他網站及網頁，<strong class="givemebite">咬我啊</strong>不會就此負責。使用者於啟動任何該等連結網站或網頁時，使用者已離開<strong class="givemebite">咬我啊</strong>，並在自行承擔風險的情況下接駁至與<strong class="givemebite">咬我啊</strong>之連結的網站或網頁，<strong class="givemebite">咬我啊</strong>毋須對此負責，<strong class="givemebite">咬我啊</strong>對連結的網站或網頁之內容、資料提供等亦不負任何責任。			
		</section>
		<section>
			<strong class="givemebite">咬我啊</strong>之內容、圖片、美編和電腦程式代碼等網頁內容皆屬<strong class="givemebite">咬我啊</strong>財產。任何人在未得<strong class="givemebite">咬我啊</strong>事先書面批准前，均不得抄襲、複製、重印、上載、下載、登載、傳送、在檢索系統中儲存、修改、更改或在公眾展示，或以任何方式分發任何<strong class="givemebite">咬我啊</strong>受知識產權保障之資料或材料。			
		</section>



	</article>
</div>
