<% provide(:title, "關於咬我啊") %>

<style>
	.box{
		text-align: center;
	}
	.box li{
		margin-bottom: 5px;
		padding-bottom: 5px;
		border-bottom: 1px dashed #888;
	}
	.report h2{
		font-size: 3rem;
		padding: 10px 0;
	}
</style>

<div class="box">
	<div class="boxheader">
		網站更新記錄：
	</div>
</div>
