<% provide(:title, "關於咬我啊") %>

<style>
	.box{
		text-align: center;
	}
	.boxheader{
		font-size: 3rem;
		margin-bottom: 10px;
	}
	.rule{
		display: inline-block;
		max-width: 700px;
		font-size: 2rem;
		cursor: default;
	}
	.rule section{
		margin-bottom: 20px;
		line-height: 150%;
		text-align: left;
	}
	.rule .givemebite{
		margin: 0 8px;
		font-weight: 900;
		color: #666;
		font-size: 2.2rem;
	}
	.rule .important .givemebite{
		color: #aa2a28;	
	}
	.rule .important{
		color: #bf2022;
	}
	.rule .important a{
		text-decoration: none;
		display: inline-block;
	}
</style>

<div class="box">
	<div class="boxheader">
		會員條款
	</div>
	<article class="rule">
		<section class="important">
			<strong class="givemebite">咬我啊</strong>givemebite.me 為個人練習用網站，非營利網站。對網站內容會盡力維護。會儘量阻擋網路攻擊並且維護個人資料安全。但對個人資料有安全疑慮者，建議使用虛擬身份進行網站使用。對網站有疑問歡迎到 <a href="/about#feedback" class="btn btn_blue">關於咬我啊</a> 進行回報。<strong class="givemebite">咬我啊</strong>感謝您的支持與回饋。
		</section>
		<section>
			<strong class="givemebite">咬我啊</strong>係依照本服務條款之約定，提供網路資訊平台服務（http://givemebite.me，以下簡稱「本服務」）。會員必須同意本服務條款之內容並完成註冊程序，才能成為本服務的正式會員，並使用本服務提供的各項服務。
		</section>
		<section>
			一、會員的守法承諾<br/>
			<br/>
			會員需承諾遵守中華民國相關法規及一切使用網際網路之國際慣例，絕不為任何非法目的或以任何非法方式使用本服務，並依本服務條款，不得為下列之行為：<br/>
			(1) 公佈、刊登或上傳任何誹謗、侮辱、威脅、攻擊、不雅、色情、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案。<br/>
			(2) 侵害或毀損本服務或他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利。<br/>
			(3) 故意使用不當語法或程式，破壞服務頁面顯示及正常營運。<br/>
			(4) 用本服務濫發廣告郵件、侵入他人電腦系統或干擾其運作，或藉由本服務散佈電腦病毒。<br/>
			(5) 冒用他人名義使用本服務。<br/>
			(6) 從事未經本服務允許的商業行為。<br/>
			(7) 從事其他任何本服務認為不適當之行為。<br/>
		</section>
		<section>
			二、會員發表分享、討論等言論注意事項<br/>
			<br/>
			本服務提供的會員服務，包含一討論分享平台，如分享機制、留言版、群組討論...等服務，均允許註冊成功之會員使用者主動傳播訊息、發表自己的消費經驗或議題觀點或其他言論，這些內容並不代表本服務的立場。<br/>

			本服務僅提供一網路資訊分享平台，對於一般會員的言論不負責任，亦不擔保各會員提供之屬名其資訊的真實性。但本服務有權力但無義務依其自行之考量，拒絕或移除經由本服務提供之任何內容，甚至禁止特定會員的使用本服務的權利。會員需遵守下列規定：<br/>
			(1) 嚴禁發表與主題無關的言論。<br/>
			(2) 嚴禁侵犯他人著作權或其他智慧財產權。<br/>
			(3) 嚴禁發表未經本服務允許的商業廣告文章。<br/>
			(4) 嚴禁發表任何謠言、猜測、不實捏造的言詞。<br/>
			(5) 嚴禁發表人身攻擊的言詞，誹謗他人或侵害他人名譽。<br/>
			(6) 嚴禁發表挑撥族群意識或煽動對立的言詞與謾罵。<br/>
			(7) 嚴禁發表公然侮辱他人或者捏造事實誹謗他人的言詞。<br/>
			(8) 發表文章提及飼料、罐頭、藥品、食品、化妝品、健康食品，內容嚴禁有下列狀況：<br/>
			A. 違反「健康食品管理法及相關法規」規範。<br/>
			B. 違反「藥事法」。<br/>
			C. 違反「化妝品衛生管理條例」規範。<br/>
		</section>
	</article>
</div>
