<div class="subheading">
	<ul tabindex="1">
		<li>
			<input type="radio" name="subBtn" id="subBtn1" value="big">
			<label  class="fa fa-square" for="subBtn1"></label>
		</li>
		<li>
			<input type="radio" name="subBtn" id="subBtn2" value="medium" checked>
			<label  class="fa fa-th-large" for="subBtn2"></label>
		</li>
		<li>
			<input type="radio" name="subBtn" id="subBtn3" value="small">
			<label  class="fa fa-th" for="subBtn3"></label>
		</li>
		<li>
			<input type="radio" name="subBtn" id="subBtn4" value="detail">
			<label  class="fa fa-list-ul" for="subBtn4"></label>
		</li>
		<li>
			<label  class="fa fa-cog" for="subBtn5"></label>
		</li>
	</ul>
	<div class="setBtn">
		<i class="fa fa-heart"></i>&nbsp;&nbsp;&nbsp;My Favorite
	</div>
</div>