<div id="fb-root"></div>
<script>
window.fbAsyncInit = function () {

	//這邊需要app_id
    $('#facebook-share').click(function () {
    	FB.getLoginStatus(function(response) {
    		console.log(response);
		  if (response.status === 'connected') {
		    // the user is logged in and has authenticated your
		    // app, and response.authResponse supplies
		    // the user's ID, a valid access token, a signed
		    // request, and the time the access token 
		    // and signed request each expire
		    var uid = response.authResponse.userID;
		    var accessToken = response.authResponse.accessToken;
		  } else if (response.status === 'not_authorized') {
		    // the user is logged in to Facebook, 
		    // but has not authenticated your app
		  } else {
		    // the user isn't logged in to Facebook.
		  }
		 });
        // FB.ui({
        //     method: 'feed',
        //     link: document.URL,
        //     caption: 'http://givemebite.me',
        // }, function (response) {
        // 	console.log(response)
        //     if (response === null) {
        //         console.log('post was not shared');
        //     } else {
        //         console.log('post was shared');
        //     }
        // });
    });
    //end

    //這邊不一定要有app_id
    var page_like_or_unlike_callback = function(url, html_element) {
	  console.log("page_like_or_unlike_callback");
	  console.log(url);
	  console.log(html_element);
	}
	FB.Event.subscribe('edge.create', page_like_or_unlike_callback);
	FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
	//end
};
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=1505138316410533&version=v2.0";
  //js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
