<footer>
	<ul>
		<li><a href="/about">關於網站</a></li>
		<li><a href="/disclaimer">免責聲明</a></li>
		<li><a href="javascript:;">隱私政策</a></li>
		<li><a href="javascript:;">使用條款</a></li>
	</ul>
	<p>© 2014 GiveMeBite Powered by GiveMeBite</p>
</footer>