<header>
	<div>
		<a class="logo" href="javascript:;">GiveMeBite!</a>
		<nav>
			<ul>
				<li><a href="javascript:;">首頁</a></li>
				<li><a href="javascript:;">註冊</a></li>
				<li><a href="javascript:;">登入</a></li>
			</ul>
		</nav>
	</div>
</header>