<div class="sidebar">
	<%= render 'shared/sidebar_user_info' %>
	<% if signed_in? && current_user.id==params[:id].to_i %>
		<%= render 'shared/sidebar_post' %>
	<% end %>
	<%= render 'shared/sidebar_think' %>
	<%#= render 'shared/sidebar_fb' %>
</div>