
<div class="user">
	<div><%= image_tag("bgapple.jpg", alt: " ") %></div>
	<div>
		<div class="avatar" data-name="MingYu" data-talk="就是愛吃甜點">
			<%= image_tag("default_avatar.jpg", alt: " ") %>
		</div>
	</div>
	<div class="btn">
		<ul>
			<li><i class="fa fa-heart" data-num="100"></i></li>
			<li><i class="fa fa-users" data-num="130"></i></li>
			<li><i class="fa fa-eye" data-num="210"></i></li>
		</ul>
	</div>
</div>