<style>
	.fbBtn li{
		padding: 5px 0 5px 5px;
		display: inline-block;
	}
	.fbBtn div{
		box-shadow: none;
	}
	.fbBtn li{
		width: 95%;
	}
	#fb-root div{
		width: initial;
		width: auto;
	}
</style>

<div class="fbBtn">
	<h2>正在測試中</h2>
	<ul>
		<li>
			<div class="fb-like" data-href="<%= root_url %>" data-width="100%" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
		</li>
		<li>
			<a href="javascript:;" id="facebook-share">testMe</a>
		</li>
		<li>
			<a href="javascript:;" id="fbLogout">logout</a>
		</li>
		<li>
			<a href="javascript:;" id="fbLogin">logIn</a>
		</li>
	</ul>
</div>
<%= render 'shared/facebook_js' %>




