<style>
	.post textarea{
		display: none;
	}
	.ipt_hide{
		display: none;
	}
	.post input[type="radio"]:checked + textarea{
		display: block;
	}
	.post label{
		cursor: pointer;
	}
</style>
<script>
	function readPic(e){
		if (e.files && e.files[0]){
	        var reader = new FileReader();
	        var type = e.files[0].type;
	        if(type == 'image/png' || type == 'image/jpeg' || type == 'image/gif'){
	        }else{
	          alert('檔案格式不符');
	          return ;
	        };
	        reader.onload = function (element) {
	        	$('.uploadimg').remove();
		        var img = element.target.result;
		        var imgx = document.createElement('img');
		        var div = document.createElement('div');
	      		imgx.className = 'pre';
		        imgx.src = img;
		        div.className='uploadimg';
		        $(div).html(imgx);
		        $('.post').find('.pre_pic').prepend(div);
	        };
	        reader.readAsDataURL(e.files[0]);
		}
	}
	function bitesSend(e){
		var msg=$.trim($(e).find('#msg_form').val());
		var add=$.trim($(e).find('#address_form').val());
		var $btn=$(e).find('.submitPencil');
		if(msg==''){
			alert('尚未填寫分享訊息！！');
			console.log($('#for_msg').prop( "checked",true ));
			$('#msg_form').css({
				//"border":"1px solid #f00",
				"box-shadow":"inset 0 0 5px #f00"
			});
			return false;
		}
		if(add==''){
			alert('尚未填寫地點！！');
			console.log($('#for_add').prop( "checked",true ));
			$('#address_form').css({
				//"border":"1px solid #f00",
				"box-shadow":"inset 0 0 5px #f00"
			});
			return false;
		}
		//送出中取消按鈕功能以免重複送出
		$btn.css({
			"background":"#ccc",
			"border-bottom":"2px solid #999",
			"cursor":"default"
		});
		$btn.attr('for','null');

		return true;
	}
</script>
<div class="post">
	<%#= form_for @user, url: bites_path, html: {id: "new_post", multipart: true, onsubmit: "return true;"} do |f| %>
	<%= form_tag bites_path , multipart: true, onsubmit: "return bitesSend(this);" do %>
		<input type="file" class="ipt_hide" name="favority[pic]" id="pic_form" onchange="readPic(this);">
		<input type="radio" class="ipt_hide" name="for_txt" id="for_msg" checked>
		<textarea name="favority[msg]" id="msg_form" cols="30" rows="5" maxlength="40" placeholder="分享些好吃的美食吧!"></textarea>
		<input type="radio" class="ipt_hide" name="for_txt" id="for_add">
		<textarea name="favority[address]" id="address_form" maxlength="30" cols="30" rows="5" placeholder="請填寫地址"></textarea>
		<div class="pre_pic">
			<ul>
				<li><label for="for_msg" class="fa fa-comment"></label></li>
				<li><label for="for_add" class="fa fa-map-marker"></label></li>
				<li><label for="pic_form" class="fa fa-camera-retro" style="padding:0 2px 0 0;"></label></li>
				<!--
					<li><i class="fa fa-tags"></i></li>
				-->
			</ul>
			<label for="submitBtn" class="fa fa-pencil submitPencil"></label>
			<input class="submitBtn" id="submitBtn" type="submit" value="分享">
		</div>
	<% end %>
</div>