
<div class="user">
	<div><%= image_tag("bgapple.jpg", alt: " ") %></div>
	<div>
		<div class="avatar" data-name="<%= @user.nickname %>" data-talk="<%= @user.about %>">
			<img src="<%= @user.avatar_url %>" alt="">
		</div>
	</div>
	<div class="statusbtn">
		<ul>
			<li><i class="fa fa-heart" data-num="100"></i></li>
			<li><i class="fa fa-users" data-num="130"></i></li>
			<li><i class="fa fa-eye" data-num="210"></i></li>
		</ul>
	</div>
</div>