<% provide(:title, "GiveMeBite - qazwsx9006") %>
<% provide(:jsCall, "googleMap();contentResize();") %>

<%= render 'shared/sidebar' %>
<div class="content">
	<div class="mapBox">
		<div id="map-canvas" class="map-canvas"  onselectstart="return false;"></div>
	</div>
	<div class="favorite">
		<%= render 'shared/content_subheading' %>
		<ul class="favoriteList big">
			<% 10.times do %>
				<li>
					<div class="imgShadow"><%= image_tag("sweets1.jpg", alt: " ") %></div>
					<p><i class="bullhorn fa fa-bullhorn"></i>
						好吃下午茶蛋糕!!大推 :)
					</p>
					<span class="postTime fa fa-comments-o">&nbsp;&nbsp;2014-10-05</span>
				</li>
			<% end %>
		</ul>
	</div>
</div>