@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1024px){
	header nav{
		position: fixed;
		top: 0;
		right: 10px;
		z-index: 1;
	}
	header nav ul{
		position: absolute;
		background: rgba(50,50,50,.8);
		width: 50px;
		height: 50px;
		border: 3px solid #fff;
		top: 5px;
		right: 5px;
		box-shadow: 0 0 3px #999;
		border-radius: 50%;
		z-index: 1;
	}
	header nav ul:before{
		display: block;
		content: '≡';
		color: #fff;
		text-align: center;
		line-height: 42px;
		font-size: 5rem;
		cursor: pointer;
	}
	header nav #menuBtn{
		position: absolute;
		width: 56px;
		height: 56px;
		top: 5px;
		right: 5px;
		display: inline-block;
		min-width: 0;
		z-index: 2;
		cursor: pointer;
		border-radius: 50%;
	}
	header nav ul li{
		position: absolute;
		top: -8px;
		width: 70px;
		text-align: left;
		left: -150%;
		font-size: 2rem;
		padding: 0;
		transform-origin:105px center;
		-webkit-transform-origin:105px center;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		transition: .3s;
	}
	header nav ul .btnShow{
		top: 0;
	}
	header nav ul .btnShow:nth-child(1){
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}

	header nav ul li.user{
		left: -200%;
		transform-origin:125px center;
		-webkit-transform-origin:125px center;
	}
	header nav ul li.user span{
		display: none;
	}
	header nav ul .btnShow:nth-child(2){
		transform:rotate(-30deg);
		-webkit-transform:rotate(-30deg);
	}
	header nav ul .btnShow:nth-child(3){
		transform:rotate(-60deg);
		-webkit-transform:rotate(-60deg);
	}
	header nav ul .btnShow:nth-child(4){
		transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
	}
	header nav ul li.signout{
		display: none;
	}
	header nav ul li.signout_mobile{
		display: block;
	}
	header nav ul li.signout_mobile span{
		display: inline-block;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	}
	header nav ul li a{
		background: rgba(50,50,50,.8);
		color: #fff;
		padding: 0px 1px 0px 10px;
		border: 1px solid #fff;
		position: relative;
	}
	header nav ul li a:after{
		content:'';
		display: block;
		position: absolute;
		border: 11px solid rgba(50,50,50,.8);
		top: 0;
		right: -33px;
		border-color:  transparent transparent transparent rgba(50,50,50,.8);
		border-width: 11px 11px 11px 22px;
	}

}
@media screen and (min-width: 320px) and (max-width: 630px){
	header{
		height: initial;
	}
	header div{
		min-width: 0;
	}
	header .logo{
		display: block;
		position: inherit;
		text-align: center;
	}
	header #findNear{
		padding-top: 5px;
	}
}