@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 1024px){
	header nav{
		position: fixed;
		top: 0;
		right: 10px;
		z-index: 12;
	}
	header nav ul{
		position: absolute;
		background: rgba(50,50,50,.8);
		width: 50px;
		height: 50px;
		border: 3px solid #fff;
		top: 5px;
		right: 5px;
		box-shadow: 0 0 3px #999;
		border-radius: 50%;
		z-index: 3;
	}
	header nav ul:before{
		display: block;
		content: '≡';
		color: #fff;
		text-align: center;
		line-height: 50px;
		font-size: 5rem;
		cursor: pointer;
	}
	header nav #menuBtn{
		position: absolute;
		width: 56px;
		height: 56px;
		top: 5px;
		right: 5px;
		display: inline-block;
		min-width: 0;
		z-index: 4;
		cursor: pointer;
		border-radius: 50%;
		opacity: 0;
	}
	header nav ul li{
		position: absolute;
		top: -10px;
		width: 70px;
		text-align: left;
		left: -150%;
		font-size: 2rem;
		padding: 0;
		transform-origin:105px center;
		-webkit-transform-origin:105px center;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
		transition: .3s;
	}
	header nav ul .btnShow{
		top: 0;
	}
	header nav ul .btnShow:nth-child(1){
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
	}

	header nav ul li.user.btnShow{
		top: -5px;	
	}
	header nav ul li.user{
		left: -3px;
		width: initial;
		width: auto;
		text-align: right;
		margin-left: -200%;
		width: 80px;
		transform-origin:125px center;
		-webkit-transform-origin:125px center;
	}
	header nav ul li.user a{
		display: inline-block;
		line-height: 100%;
		margin-left: -500%;
		min-height: 23px;
		padding-top: 2px;
	}
	header nav ul li.user span{
		display: none;
	}
	header nav ul .btnShow:nth-child(2){
		transform:rotate(-30deg);
		-webkit-transform:rotate(-30deg);
	}
	header nav ul .btnShow:nth-child(3){
		transform:rotate(-60deg);
		-webkit-transform:rotate(-60deg);
	}
	header nav ul .btnShow:nth-child(4){
		transform:rotate(-90deg);
		-webkit-transform:rotate(-90deg);
	}
	header nav ul li.signout{
		display: none;
	}
	header nav ul li.signout_mobile{
		display: block;
	}
	header nav ul li.signout_mobile span{
		display: inline-block;
		transform:rotate(90deg);
		-webkit-transform:rotate(90deg);
	}
	header nav ul li a{
		background: #666;
		color: #fff;
		padding: 2px 3px 2px 10px;
		/*border: 1px solid #fff;*/
		position: relative;
	}
	header nav ul li a:after{
		content:'';
		display: block;
		position: absolute;
		border: 11px solid #666;
		top: 0;
		right: -33px;
		border-color:  transparent transparent transparent #666;
		border-width: 13px 11px 13px 22px;
	}

	.index_content ul{
		text-align: center;
	}


	.userInfo label{
		text-align: center;
		font-size: 2rem;
		margin-bottom: 5px;
	}
	.userInfo label:after{
		content: '';
	}
	.userInfo input{
		padding: 5px;
		font-size: 1.6rem;
	}
	.info_submit{
		padding:  10px ;
		width: 50%;
		font-size: 2rem;
	}

}
@media screen and (min-width: 320px) and (max-width: 630px){
	header{
		height: initial;
	}
	header div{
		min-width: 0;
	}
	header .logo{
		display: block;
		position: inherit;
		text-align: center;
	}
	header #findNear{
		padding-top: 5px;
	}
}


@media screen and (min-width: 320px) and (max-width: 850px){
	section{
		width: 95%;
	}
	.mapall{
		height: 250px;
        overflow: auto;
        resize: vertical;
	}
	.mapall *{
		resize:none;
	}
	.box.mapall .mapBox{
		height: 100%;
	}
	.indexWrap .index_content{
		padding: 5px;
		width: 100%;
		margin-left: 0;
		margin-bottom: 10px;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.indexWrap .index_sidebar{
		width: 100%;
	}
	
	.sidebar{
		display: block;
		width: 100%;
	}
	.sidebar .user,.sidebar .think{
		position: fixed;
		width: 250px;
		z-index: 11;
		top: 10px;
		left: -350px;
		box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
		transition: .3s;
	}
	.sidebar .user.userInfoShow,.sidebar .think.userInfoShow{
		left: 10px;

	}
	.sidebar .think{
		top: 300px;
	}
	.socialBtn li{
		max-width: 140px;
	}
	.post .pre_pic{
		font-size: 2rem;
	}
	.pre_pic:after{
		content: '';
		display: block;
		clear: both;
	}
	.pre_pic ul{
		margin-top: 5px;
	}
	.sidebar .post ul li:nth-child(-n+2):after{
		height: 30px;
	}
	.sidebar .post ul li{
		width: 60px;
	}
	.socialBtn{
		font-size: 1.8rem;
	}

	.content{
		width: 100%;
	}
	.content .favorite .subheading{
		max-width: 250px;
		width: 50%;
	}
	.content .favoriteList.big li{
		width: 100%;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		margin: 0 0 10px 0;

	}
	.content .favoriteList,.content .favoriteList.small{
		text-align: center;
	}
	.content .favoriteList.small li{
		margin: 0 0 10px 3px;
	}
	.content .favoriteList.medium li,.content .favoriteList.small li{
		display: inline-block;
		float: none;
		vertical-align: top;
	}


	#new_avatar{
		text-align: center;
	}
	.avatar_group .rwd_avatar{
		display: inline-block;
		width: 45%;
	}
	.avatar_tip{
		display: none;
	}
	.choose_avatar{
		cursor: pointer;
		background: #76ca95;
		border: 1px solid #24723a;
		border-radius: 5px;
		padding: 10px 0;
		color: #333;
		font-size: 1.8rem;
		font-weight: 500;
	}
	.choose_avatar:hover{
		background: #319f4f;
	}
	#user_avatar{
		display: none;
	}
	.rwd_avatar .avatar_upload{
		width: 100%;
		padding: 10px 0;
		font-size: 1.8rem;
		font-weight: 500;
	}














}
