<% provide(:title, "咬我啊") %>
<% content_for :jsCall do %>
  googleMap({
	user_id:0, center:'<%= params[:c] %>', distance:'<%= params[:d] %>', near:'<%= params[:near] %>', from:'<%= params[:from] %>'
  });
<% end %>

<style>
	.box{
		text-align: center;
	}
	.box .mapBox{
		width: 100%;
		height: 450px;
		background: url('/assets/loading.gif') no-repeat center;
	}
	.box .mapBox #map-canvas{
		width: 100%;
		height: 100%;
	}
</style>
<div >
	<div class="box mapall">
		<div class="mapBox">
			<div id="map-canvas" class="map-canvas"  onselectstart="return false;"></div>
		</div>
	</div>
	<div>
	</div>
	<div class="box">
		<div class="boxheader">
			網站更新記錄：
		</div>
		<ul>
			<li>
				<div>2014-11-1：</div>
				1.修改登入登出功能<br>
				2.增加個人頭像圖片上傳功能
			</li>
			<li>
				<div>2014-11-2：</div>
				1.「分享訊息」功能<br>
				2.尚未使用地理定位功能
			</li>
			<li>
				<div>2014-11-8：</div>
				1.ＰＯ文時，訊息，地址目前為必填<br>
				2.map顯示圖釘訊息(待調整顯示樣式)
			</li>
			<li>
				<div>2014-11-9：</div>
				1.個人頁面地圖只顯示該會員的資訊圖釘<br>
				2.header增加搜尋bar(搜尋該位置的半徑距離內的資訊)
			</li>
			<li>
				<div>2014-11-16：</div>
				    1.分享美食的（內容＆留言）頁<br>
				    2.留言功能<br>
				    3.追蹤(關注)功能<br>
				   	4.like 功能（未完成）
			</li>
			<li>
				<div>2014-11-22：</div>
					1.前端註冊驗證功能提示
					2.「喜歡」功能
				   	3.增加文章喜愛數，評論數
				   	4.增加會員喜愛數
			</li>
		</ul>
	</div>
</div>
