<% provide(:title, "咬我啊") %>
<% provide(:jsCall, "") %>

<style>
	.box{
		text-align: center;
	}
</style>
<div >
	<div class="box">
		<div class="boxheader">
			網站更新記錄：
		</div>
		<ul>
			<li>
				<div>2014-11-1：</div>
				1.修改登入登出功能<br>
				2.增加個人頭像圖片上傳功能
			</li>
			<li>
				<div>2014-11-2：</div>
				1.「分享訊息」功能<br>
				2.尚未使用地理定位功能
			</li>
		</ul>
	</div>
</div>
